name: Build and Test

on:
  pull_request:
    branches: ["main", "develop"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install OpenCL
        run: |
          sudo apt-get update
          sudo apt-get install -y ocl-icd-opencl-dev opencl-headers pocl-opencl-icd

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose
